@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    margin: 0;
    padding: 0;
  }

  body{
    @apply text-[1.25rem] font-normal scroll-smooth;
    font-family: "Geologica", sans-serif;
    scroll-padding-top: 200px;
  }

  h1{
    @apply text-[4rem] font-bold text-appskep-black;
  }

  h2{
    @apply text-4xl font-bold;
  }

  .is-active {
    @apply text-appskep-primary bg-[#e4e6ef];
  }

  .forms{
    @apply text-[12px] flex flex-col gap-0 ;

  }

  .forms .form-group{
    @apply bg-appskep-secondary/20 text-appskep-secondary/50 rounded-xl px-5 py-3 focus:border-2 focus:text-appskep-secondary;
  }

} 