@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    margin: 0;
    padding: 0;
  }

  :root {
    @apply text-[14px]
  }

  html{
    @apply !scroll-smooth;
  }

  body{
    @apply text-[14px] sm:text-[1rem] md:text-[1.25rem] font-normal scroll-smooth;
    font-family: "Geologica", sans-serif;
  }

  h1{
    @apply text-[2.5rem] md:text-[3rem] lg:text-[3.5rem] font-bold text-appskep-black;
  }

  h2{
    @apply text-2xl sm:text-3xl md:text-4xl font-bold;
  }

  .is-active {
    @apply text-appskep-primary bg-[#e4e6ef];
  }

  .forms{
    @apply text-[12px] flex flex-col gap-0;

  }

 .form-group{
    @apply bg-appskep-secondary/20 rounded-xl px-5 py-3 focus:border-2 focus:text-appskep-secondary;
  }

  form {
    @apply text-[12px] flex flex-col gap-0;
  }

  form .form-control {
  }

  form .form-control input, textarea, select {
    @apply w-full px-[0.7rem] py-[0.5rem] bg-appskep-dark/20 rounded-xl px-5 py-3 focus:border-2 focus:text-appskep-dark;
  }

} 
